.flex{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* height: 100vh; vh ocupa 100% da tela */ 
}


body{
  margin: 0;
}

h2{
  background: #e7e7e7;
  border: 2px solid #d7d;
  padding: 20px;
  margin: 0;
  flex: 1;
}

.grid{
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  gap: 30px;
}

.grid h2{
  background-color: #e7e7;
  border: 1px solid black;
}